@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Poppins:wght@600&display=swap');

.container {
    width: 100%;
    height: 200%;
    margin: auto;
    padding: 20px;
}

.content {
    background: white;
    padding-left: 30px;
    padding-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1px;
}
h2 , p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-bottom: 48px;
    
}

.team-member {
    border: 1px solid rgb(103, 51, 213);
    padding: 15px;
    border-radius: 5px;
    width: 200px;
    height: auto;
    text-align: center;
}