/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image:url("/images/stock.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header {

    color: #8e2a2a;
    font-size: 2em;
    margin-bottom: 20px;
    position: fixed;
    font-family: 'open sans', Gadget, sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    background-image:linear-gradient(to right, #d68e8e, #faf8f7);
    margin: 0;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
     }




.login-container {
    background-color: #d59595;
    opacity: 1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-form .input-group {
    margin-bottom: 20px;
    text-align: left;
}

.login-form .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.login-form .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-form .input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 15px;
    color: #555;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}